<nav class="navbar navbar-expand-lg text-white" style="background-color: #859784;">
    <div class="container-fluid ms-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item ms-4 mx-2" *ngIf = (siteSettingsService.siteSettings)>
            <div class="navbar-text">{{siteSettingsService.siteSettings.email}}</div>
          </li>
          <div class="vr"></div>
          <li class="nav-item mx-2" *ngIf = (siteSettingsService.siteSettings)>
            <div class="navbar-text">{{siteSettingsService.siteSettings.deliveryInfo}}</div>
          </li>
        </ul>
        <ul class="navbar-nav me-4 fw-bold">
            <li class="nav-item mx-2">
                <a class="nav-link text-white" href="#">Contact</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid nav-fill">
        <ul class="nav-item navbar-brand my-auto" *ngIf = (siteSettingsService.siteSettings)>
            <img src="/assets/img/{{siteSettingsService.siteSettings.imgLogoName}}" alt="" width="80" height="80">
        </ul>
        <form class="nav-item d-flex justify-content-center my-auto">
            <input class="form-control" type="search" placeholder="Search" id="navBarSearchForm" aria-label="Search">
            <button class="btn btn-outline-success mx-2" type="submit">Search</button>
        </form>
        <ul class="navbar-nav nav-item mb-lg-0 justify-content-center">
            <li class="mx-3">
                <a href="#"><img src="/assets/img/account.png" alt="" width="24" height="24"></a>
            </li>
            <li class="mx-3">
                <a href="#"><img src="/assets/img/love.png" href="#" alt="" width="24" height="24"></a>
            </li>
            <li class="mx-3">
                <a href="#"><img src="/assets/img/cart.png" href="#" alt="" width="24" height="24"></a>
            </li>
        </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #859784;" *ngIf = "categories">
    <div class="container-fluid nav-fill">
        <ul class="navbar-nav nav-item mb-lg-0 justify-content-center">
            <li class="nav-item">
              <a class="nav-link fw-bold" (click)="selectMenu('Home')" [ngClass]="status === 'Home' ? 'text-white' : 'text-black'" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" *ngFor = "let category of categories">
              <a class="nav-link fw-bold" (click)="selectMenu(category.categoryName)" [ngClass]="status === category.categoryName ? 'text-white' : 'text-black'" routerLink="/category" [queryParams] = "{name: category.categoryName}">{{category.categoryName}}</a>
            </li>
        </ul>
    </div>
  </nav>