<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="!registration; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.hasError }" />
                <div *ngIf="submitted && loginForm.hasError" class="invalid-feedback">
                    <div *ngIf="loginForm.hasError('required', 'username')">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.hasError}" />
                <div *ngIf="submitted && loginForm.hasError " class="invalid-feedback">
                    <div *ngIf="loginForm.hasError('required', 'password')">Password is required</div>
                </div>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class = "mt-4 container">
              <div class ="row">
                <div class = "col d-flex justify-content-start" style="padding: 0;">
                  <button class = "btn btn-success">Sign up</button>
                </div>
                <div class="form-group col d-flex justify-content-end" style="padding: 0;">
                  <button class="btn btn-primary" [disabled]="loginForm.invalid">
                    Login
                  </button>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
        <ng-template #elseBlock>
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && registrationForm.hasError }" />
                <div *ngIf="submitted && registrationForm.hasError" class="invalid-feedback">
                    <div *ngIf="registrationForm.hasError('required', 'username')">Username is required</div>
                </div>
            </div>
            <div class="form-group">
              <label for="username">E-mail</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && registrationForm.hasError }" />
              <div *ngIf="submitted && registrationForm.hasError" class="invalid-feedback">
                  <div *ngIf="registrationForm.hasError('required', 'email')">Email is required</div>
              </div>
          </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registrationForm.hasError}" />
                <div *ngIf="submitted && registrationForm.hasError " class="invalid-feedback">
                    <div *ngIf="registrationForm.hasError('required', 'password')">Password is required</div>
                </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registrationForm.hasError}" />
              <div *ngIf="submitted && registrationForm.hasError " class="invalid-feedback">
                  <div *ngIf="registrationForm.hasError('required', 'password')">Password is required</div>
              </div>
          </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class = "mt-4 container">
              <div class ="row">
                <div class = "col d-flex justify-content-start" style="padding: 0;">
                  <button class = "btn btn-success">Sign up</button>
                </div>
                <div class="form-group col d-flex justify-content-end" style="padding: 0;">
                  <button class="btn btn-primary" [disabled]="loginForm.invalid">
                    Login
                  </button>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg text-white" style="background-color: #859784;" *ngIf = (siteSettings)>
    <div class="container-fluid ms-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item ms-4 mx-2" >
            <div class="navbar-text">{{siteSettings.email}}</div>
          </li>
          <div class="vr"></div>
          <li class="nav-item mx-2">
            <div class="navbar-text">{{siteSettings.deliveryInfo}}</div>
          </li>
        </ul>
        <ul class="navbar-nav me-4 fw-bold">
            <li class="nav-item mx-2">
                <a class="nav-link text-white" href="#">Contact</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf = (siteSettings)>
    <div class="container-fluid nav-fill">
        <ul class="nav-item navbar-brand my-auto">
            <img src="/assets/img/{{siteSettings.imgLogoName}}" alt="" width="80" height="80">
        </ul>
        <form class="nav-item d-flex justify-content-center my-auto">
            <input class="form-control" type="search" placeholder="Search" id="navBarSearchForm" aria-label="Search">
            <button class="btn btn-outline-success mx-2" type="submit">Search</button>
        </form>
        <ul class="navbar-nav nav-item mb-lg-0 justify-content-center">
            <li class="mx-3">
                <div class = "btn" data-bs-toggle="modal" data-bs-target="#loginModal"><img src="/assets/img/account.png" alt="" width="24" height="24"></div>
            </li>
            <li class="mx-3">
                <div class = "btn"><img src="/assets/img/love.png" href="#" alt="" width="24" height="24"></div>
            </li>
            <li class="mx-3">
                <div class = "btn"><img src="/assets/img/cart.png" href="#" alt="" width="24" height="24"></div>
            </li>
        </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #859784;" *ngIf = "categories">
    <div class="container-fluid nav-fill">
        <ul class="navbar-nav nav-item mb-lg-0 justify-content-center">
            <li class="nav-item">
              <a class="nav-link fw-bold" (click)="selectMenu('Home')" [ngClass]="status === 'Home' ? 'text-white' : 'text-black'" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" *ngFor = "let category of categories">
              <a class="nav-link fw-bold" (click)="selectMenu(category.categoryName)" [ngClass]="status === category.categoryName ? 'text-white' : 'text-black'" routerLink="/category" [queryParams] = "{name: category.categoryName}">{{category.categoryName}}</a>
            </li>
        </ul>
    </div>
  </nav>