<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login:</h5>
        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="!registration; then thenBlock else elseBlock"></div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ng-template #thenBlock>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" formControlName="email" class="form-control"/>
                <div class="text-danger text-center"
                    *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">Email is incorrect!
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"/>
                <div class="text-danger text-center"
                    *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">Password is incorrect!
                </div>
            </div>
          </ng-template>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class = "mt-4 container">
              <div class ="row">
                <div class = "col d-flex justify-content-start" style="padding: 0;" *ngIf = "!registration">
                  <button class = "btn btn-success" (click) = "registrationSubmit()">Sign up</button>
                </div>
                <div class = "col d-flex justify-content-start" style="padding: 0;" *ngIf = "registration">
                  <button class = "btn btn-success" (click) = "registrationSubmit()">Sign in</button>
                </div>
                <div class="form-group col d-flex justify-content-end" style="padding: 0;">
                  <button class="btn btn-primary" [disabled]="loginForm.invalid" *ngIf = "registration">
                    Registration
                  </button>
                  <button class="btn btn-primary" [disabled]="loginForm.invalid" *ngIf = "!registration">
                    Login
                  </button>
                </div>
              </div>
            </div>
        
        <ng-template #elseBlock>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" />
                <div class="text-danger text-center"
                  *ngIf="loginForm.controls['name'].invalid && loginForm.controls['name'].touched">Name is incorrect!
                </div>
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" formControlName="email" class="form-control" />
              <div class="text-danger text-center"
                  *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">Email is incorrect!
              </div>
          </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"/>
                <div class="text-danger text-center"
                  *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">Password is incorrect!
                </div>
            </div>
            <div class="form-group">
              <label for="password">Confirm password</label>
              <input matInput type="password" formControlName="confirmPassword" class="form-control" [errorStateMatcher]="matcher" />
              <div class="text-danger text-center"
                  *ngIf="loginForm.hasError('notSame')">Passwords do not match!
              </div> 
            </div>
        </ng-template>
      </form>
      </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg text-white" style="background-color: #859784;" *ngIf = (siteSettings)>
    <div class="container-fluid ms-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item ms-4 mx-2" >
            <div class="navbar-text">{{siteSettings.email}}</div>
          </li>
          <div class="vr"></div>
          <li class="nav-item mx-2">
            <div class="navbar-text">{{siteSettings.deliveryInfo}}</div>
          </li>
        </ul>
        <ul class="navbar-nav me-4 fw-bold">
          <li class="nav-item mx-2">
              <a class="nav-link text-white" routerLink="/admin" *ngIf="isAdmin">Admin page</a>
          </li>
        </ul>
        <ul class="navbar-nav me-4 fw-bold">
            <li class="nav-item mx-2">
                <a class="nav-link text-white" href="#">Contact</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
  <div class="bg-light" *ngIf = (siteSettings)>
    <div class="container-fluid">
      <div class = "row align-items-center">
        <div class="col d-flex justify-content-center">
            <img src="/assets/img/{{siteSettings.imgLogoName}}" alt="" width="80" height="80">
        </div>
        <form class="col-5 d-flex">
            <input class="form-control" type="search" placeholder="Search" id="navBarSearchForm" aria-label="Search">
            <button class="btn btn-outline-success mx-2" type="submit">Search</button>
        </form>
        <div class = "col d-flex justify-content-center fw-bold">Welcome to {{siteSettings.siteName}}</div>
        <div class="col d-flex justify-content-end pe-5">
            <div class = "col d-flex justify-content-end align-self-center fw-bold">{{userEmail}}</div>

            <div *ngIf="this.userEmail; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <div class="dropdown">
                <div class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/assets/img/account.png" alt="" width="24" height="24">
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" routerLink="/user/profile">Profile</a></li>
                  <li><a class="dropdown-item" routerLink="/user/wish">Wish list</a></li>
                  <li><a class="dropdown-item" routerLink="/user/purchase">Cart</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" (click) = "logout()">Logout</a></li>
                </ul>
              </div>
            </ng-template>
            <ng-template #elseBlock>
              <div class = "btn" (click) = "registration = false" data-bs-toggle="modal" data-bs-target="#loginModal"><img src="/assets/img/account.png" alt="" width="24" height="24"></div>
            </ng-template>

            <a routerLink="/user/wish">
              <div class = "btn position-relative">
                <img src="/assets/img/love.png" alt="" width="24" height="24">
                <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-danger" *ngIf = "wishList > 0">
                  {{wishList}}
                </span>
              </div>
            </a>

            <a routerLink="/user/purchase">
              <div class = "btn position-relative">
                <img src="/assets/img/cart.png" alt="" width="24" height="24">
                <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-danger" *ngIf = "countGoods > 0">
                  {{countGoods}}
                </span>
              </div>
            </a>

        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #859784;" *ngIf = "categories">
    <div class="container-fluid nav-fill">
        <ul class="navbar-nav nav-item mb-lg-0 justify-content-center">
            <li class="nav-item">
              <a class="nav-link fw-bold" (click)="selectMenu('Home')" [ngClass]="status === 'Home' ? 'text-white' : 'text-black'" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" *ngFor = "let category of categories">
              <a class="nav-link fw-bold" (click)="selectMenu(category.categoryName)" [ngClass]="status === category.categoryName ? 'text-white' : 'text-black'" routerLink="/category" [queryParams] = "{name: category.categoryName}">{{category.categoryName}}</a>
            </li>
        </ul>
    </div>
  </nav>