<div class = "row d-flex justify-content-center" *ngIf = "user">
  <div class = "col-8">
    <form [formGroup]="userForm" (ngSubmit)="submit()" novalidate>
                
        <div class="form-group input-group mb-1">
          <span class="input-group-text fw-bold" style="width: 10rem;">Name</span>
          <input class="form-control" name="name" formControlName="name"/>
        </div>
        <div class="text-danger text-center" *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
          Name is required
        </div>

        <div class="form-group input-group mb-1">
          <span class="input-group-text fw-bold" style="width: 10rem;">Email</span>
          <input class="input-group-text form-control fw-bold" formControlName="email" readonly>
        </div>
        <div class="text-danger text-center" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
          Email is required
        </div>

        <div class="form-group input-group mb-1">
          <span class="input-group-text fw-bold" style="width: 10rem;">Address</span>
          <input class="form-control" name="address" formControlName="address" />
        </div>
        <div class="text-danger text-center" *ngIf="userForm.controls['address'].invalid && userForm.controls['address'].touched">
          Address is required
        </div>

        <div class="form-group input-group mb-1">
          <span class="input-group-text fw-bold" style="width: 10rem;">Change password</span>
          <input class="form-control" name="password" formControlName="password" />
          <span class="input-group-text fw-bold" style="width: 10rem;">Confirm password</span>
          <input class="form-control" name="confirmPassword" formControlName="confirmPassword" />
        </div>
        <div class="text-danger text-center"
            *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched">Password is incorrect!
        </div>
        <div class="text-danger text-center"
              *ngIf="userForm.hasError('notSame')">Passwords do not match!
         </div> 
        
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

        <div class="modal-footer mt-3">
          <div class="form-group" align="end">
            <button class="btn btn-success mx-2" [disabled]="userForm.invalid" style="width: 6rem;">
              Save
            </button>
          </div>
        </div>

      </form>
  </div>
</div>